/* line 1, styles.scss */
.test-item {
  width: 103px;
  height: 89px;
}

/* line 6, styles.scss */
.styles {
  background-image: url(../images/yeoman.png);
}

/* line 9, styles.scss */
.styles-sub {
  background-image: url(../images/subfolder/yeoman.png);
}
